CppServer/build
.vscode/*


# golang
./GoServer/GoHttp/vendor/*
./GoServer/GoHttp/go.sum
./GoServer/GoTars/vendor/*
./GoServer/GoTars/go.sum


# php
./PhpServer/PHPHttp/.idea/*
./PhpServer/PHPHttp/src/vendor/*
./PhpServer/PHPHttp/src/composer.lock
./PhpServer/PHPTars/.idea/*
./PhpServer/PHPTars/src/vendor/*
./PhpServer/PHPTars/src/composer.lock


# nodejs
./NodejsServer/NodejsHttp/package-lock.json
./NodejsServer/NodejsHttp/node_modules/*
./NodejsServer/NodejsTars/package-lock.json
./NodejsServer/NodejsTars/node_modules/*
